In [1]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv('allUsers.csv', header=None)

In [ ]:
for col in data.columns.values:
    data[col] = data[col].replace('?', data[col].mode())

In [16]:
data = data.drop(data.columns[[0, 1]], axis='columns')
data.head()

,2,3,4,5,6,7,8,9,10,11,...,29,30,31,32,33,34,35,36,37,38
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,54.263880,71.466776,-64.807709,76.895635,42.462500,-72.780545,36.621229,81.680557,-52.919272,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,56.527558,72.266609,-61.935252,39.135978,82.538530,-49.596509,79.223743,43.254091,-69.982489,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,55.849928,72.469064,-62.562788,37.988804,82.631347,-50.606259,78.451526,43.567403,-70.658489,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,55.329647,71.707275,-63.688956,36.561863,81.868749,-52.752784,86.320630,68.214645,-72.228461,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# добавить нормировку

In [17]:
data.to_csv("allUsers.csv", header=False)